   <!-- Footer Start -->
   <div class="container-fluid bg-light mt-5 py-5">
    <div class="">
        <div class="">
            <div class="">
                <h3>Connecting horses in need with caring homes through trusted rescues, trainers, and advocates. Adopt, support, and make a difference.</h3>
               
                <form action="">
                    <div class="input-group">
                        <input type="text" class="form-control p-3" placeholder="Your Email">
                        <button class="btn btn-primary">Subscribe</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid bg-dark text-white-50 py-4">
    <div class="container">
        <div class="row g-5">
            <div class="col-md-6 text-center text-md-start">
                <p class="mb-md-0">&copy; <a class="text-white" href="/horses">Trusted Hooves</a>. All Rights Reserved.</p>
            </div>
        </div>
    </div>
</div>
<!-- Footer End -->


<!-- Back to Top -->
<a href="#" class="btn btn-primary py-3 fs-4 back-to-top"><i class="bi bi-arrow-up"></i></a>


<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="lib/easing/easing.min.js"></script>
<script src="lib/waypoints/waypoints.min.js"></script>
<script src="lib/owlcarousel/owl.carousel.min.js"></script>

<!-- Template Javascript -->
<script src="main.js"></script>
</body>

</html>
